{% extends "AdminBundle::layout.html.twig" %}

{% block section %}
    <h1>Information</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ information.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ information.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ information.description }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ information.position }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('jobz_admin_information_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('jobz_admin_information_edit', { 'id': information.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
