{% extends "::base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/core/css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/core/css/job.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/core/css/jobs.css') }}">
{% endblock %}

{% block body %}

    <div id="container">
        <div id="header">
            <div class="nav">
                <ul>
                    {% if app.user %}
                        <li><a href="{{ path('jobz_core_security_logout') }}">Logout</a></li>
                    {% else %}
                        <li><a href="{{ path('jobz_core_security_login')}}">Login</a></li>
                        <li><a href="{{ path('jobz_core_security_registration')}}">Registration</a></li>
                    {% endif %}
                </ul>
            </div>
            {{ render(controller('CoreBundle:NavMenu:show')) }}
            <div class="clearfix"></div>
            <div class="content">
                <h1>
                    <a href="/"><img src="{{ asset('bundles/core/images/jobz.gif') }}"></a>
                </h1>
                <div id="sub_header">
                    <div class="post">
                        <h2>
                            Ask for people
                        </h2>
                        <div>
                            <a href="{{ path('jobz_core_job_new') }}">Post a Job</a>
                        </div>
                    </div>
                    <div class="search">
                        <img src="{{ asset('bundles/core/images/ask.png') }}" alt="ask">
                        <h2>
                            Ask for a job
                        </h2>
                        <form action="{{ path('jobz_core_job_index') }}" method="get">
                            <input name="keywords" id="search_keywords" class="input" type="text"
                                   value="{{ app.request.get('keywords') }}">
                            <input value="search"
                                   src="{{ asset('bundles/core/images/search.png') }}"
                                   class="but_search" type="image">
                            <div class="help">
                                Enter some keywords (city, country, position, ...)
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {% block section %}{% endblock %}

        {{ render(controller('CoreBundle:Footer:show')) }}
    </div>

{% endblock %}